node_modules
.dockerignore
.commitlintrc.json
.czrc
.husky
tests
.editorconfig
.env.example
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc.json
.prettierrc
README.md
.git
docker-compose.yml
dist
